<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu container">
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Empleados
                </a>

                <div class="navbar-dropdown">
                    <a routerLink="/registrar-empleado" routerLinkActive="is-active" class="navbar-item">
                        Registrar
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Accidentes
                </a>

                <div class="navbar-dropdown">
                    <a routerLink="/lista-accidentes" routerLinkActive="is-active" class="navbar-item">
                        Lista
                    </a>
                    <a routerLink="/registrar-accidente" routerLinkActive="is-active" class="navbar-item">
                        Registrar
                    </a>
                </div>
            </div>

            <!--<a class="navbar-item">
                Home
            </a>-->
        </div>
    </div>
</nav>